* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 10fr 1fr ;
  grid-template-areas:
    "header header"
    "main aside"
    "footer    footer";
  border: 3px rgb(6, 6, 70);
  color: white;
}


header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: #256b6b;
  border: 2px solid #1c4f4f;
}

header h1 {
  margin: 0;

}

header p {
  margin: 0;

}


main {
  grid-area: main;
  padding: 6px;
  background:  red;
  border: 2px solid red;
}

main section {
  margin-bottom: 6px;
  padding: 10px 6px;
  background: salmon;
  border: 2px solid red;
}

main section h2 {
  margin: 0 0 12px;
  font-size: 1.2rem;
}

main section p,
main section li {
  margin: 0;
  font-size: 0.75rem;
}

main section ul {
  margin: 0;
  padding-left: 22px;
}

aside {
  grid-area: aside;
  padding: 10px 6px;
  background: #2e8b2e;
  border: 2px solid #1b4d1b;
}

aside h2 {
  margin: 0 0 12px;
  font-size: 1.2rem;
}

aside p {
  margin: 0;
  font-size: 0.75rem;
}

footer {
  grid-area: footer;
  padding: 16px 6px;
  background: #7a9a32;
  border: 2px solid #4d6420;
  font-size: 0.75rem;
  color: #000;
}
